@include('partials/adminheader')
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
  <div class="layout-px-spacing">

    <div class="row layout-top-spacing">
    </div>
  </div>



  @include('partials/adminfooter')
</div>
